body {
  margin:0;
}
#welcome{
  position:absolute;
  z-index:3;
  color:white;
  text-align:center;

}
#welcome h1{
  color:white;
  margin-top:150px;
  font-weight:400;
  margin-left:530px;
}
#home{
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height:100%;
}
#wrapperhome{
  width:100%;
  height:100%;
  margin-top:60px;
  background-color: rgba(41, 39, 39, 0.80);
  position: absolute;


}

body, .topnav {
  background-color:  white;
  overflow-x: hidden;
  width:100%;
}

.topnav{
  overflow: hidden;
  border-bottom:solid;
  border-color: white;
  border-width:5px;
  -webkit-box-shadow: 0px 5px 28px 6px rgba(97,89,97,0.78);
  -moz-box-shadow: 0px 5px 28px 6px rgba(97,89,97,0.78);
  box-shadow: 0px 5px 28px 6px rgba(97,89,97,0.78);
}
.firstNav{
  /* First Nav use to be 10%*/
  margin-left:15%;
}
.searchShift{
  position:absolute;
  margin-top:5px;
  margin-left:40%;
  font-weight:600;
}
h1 ,h2 h3 h4,h5,h6{
  color: #cc0000;
}

.topnav a {
  float: left;
  display: block;
  color: #cc0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  font-family: "Arial Black";
}
.topnav a:hover{
  color:black;
}
.topnav a.active {
  border-bottom: 2px solid #cc0000;;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
  color:black;

}

.logo{
  padding-left: 10px;
  width:40px;
  height:40px;
  display: inline-block;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 280px; /* Set the width of the sidebar */
  margin-top: 60px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 10px;
}

/* The navigation menu links */
.sidenav a {
  margin-top: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  display: block;
  display: inline-block;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.team{
  display: block;
}
.buttonHead{
  background:#cc0000;
  border-radius: 20px;
  border:none;
  height:40px;
  margin-top:0px;
  margin-left:30px;
}
.buttonHead a{
  color:white;
  margin-top:-8px;

}
.divider{
  position:relative;
  margin-left:70%;
  padding-left:30px;
  border-left:solid;
  border-color:#cc0000;
  top:10px;
  border-radius:1px;
}
.fa-search{
  margin-top:5px;
  margin-left:30px;
}

  

.news .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 350px;
  padding:10px;
  min-height: 360px;
  max-height:360px;
  margin-bottom:50px;
  border-radius:10px;

}
.news .card img{
  width: 320px;
  border-radius:5px;
  margin-left:6px;
}

.news .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    
    
.news h1 { 
  display: block;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50px;
  margin-right: 2;
  font-weight: bolder;
}

.news h4 {
    color:black;
    font-weight: bold;
    font: 18; 
  }  
    
  .news p { 
    color: black; 
  }
  .favorites .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    width: 150px;
    padding:10px;
    min-height: 160px;
    max-height:160px;
    margin-bottom:50px;
    border-radius:10px;
  
  }
  .favorites .card img{
    border-radius:5px;
    margin-left:6px;
  }
  
  .favorites .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


.activated{
  display: block;
}
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
label{
  margin-bottom:10px;
  margin-top:10px;
}
input{
  border:none;
  border-bottom:solid;
  border-color:black;
  border-width: 1px;
  text-align:center;
}
label{
  color:#cc0000;
  text-align:center;
}